[2017-07-29 15:07] timothymarois opened #2 "Validation"
Looks like validation doesn't process when either required or type is missing from the array, using both together seem to work. I'm on it!

[2017-07-29 15:34] #2 closed

[2017-07-29 17:00] timothymarois opened #3 "Auto Generate Document Id"
Need the ability to auto generate an id when creating/saving documents. Must fit the `validateName()` method validation.

Need:
- **Config Setting**
- **Auto Increment** (based on how many docs currently)
- **Hash Id** (using more of a random generator)

[2017-07-29 17:05] timothymarois opened #4 "Query: Sorting/Ordering"
Ability to `SortBy` and `OrderBy` when running queries.

**Need API Methods:**
- `orderBy()`
- `sortBy()` [`ASC` and `DESC`]

[2017-08-05 20:34] timothymarois commented on #4
This has been been completed by 8e4e10a84a59a89fd00e074dfbc021ca936817a9

Except `sortBy` is now included into `orderBy` for ease of use.

[2017-08-05 20:34] #4 closed

[2017-09-09 01:55] timothymarois opened #5 "Minor Issue: customFilter does not reset the array key"
This doesn't have an affect on functionality but it keeps the existing key index in the array, and it should reset it since it acts like an internal query function.

[2017-09-09 13:17] #5 closed

[2017-12-10 16:14] MarcelHekkert opened #6 "where('IN') returns 1 document"
I have created 3 documents all with unique id's of which two contain tag=>php.

`
$users = $db->query()->where('tags','IN','php')->results();
`

using where('IN') it only returns 1 document. The total count returns 3 (documents) as it should.

[2017-12-10 16:20] timothymarois commented on #6
Thanks for pointing that out. I will take a look at that later today.

[2017-12-10 16:25] MarcelHekkert opened #7 "findAll() not working as expected"
The function findAll isn't working as expected. When it does it leaks the config with each document.

`
    $users = new \Filebase\Database([
        'dir' => '/storage/users',
    ]);

// displays number of users in the database
echo $users->count();  // works!

// Find All Users and display their email addresses

$users->findAll();  // No result!
foreach($users as $user)
{
    echo $user->email;

[2017-12-10 16:35] timothymarois commented on #6
Are you using the latest release?

Here's what I found here, so far the tests have come back as positive. Send me some example data that I can try, here's what I've tested.

**Doc 1:**

[code]

**Doc 2:**
[code]

`$test4 = $db->query()->where('tags','IN','search')->results();`

Returns 2 documents.

[2017-12-10 16:48] timothymarois commented on #7
You might need to be more specific in your example, you have `findAll()` both of those should receive the same result, and as for the data itself, there are boolean arguments you can pass in `findAll` method. which allows you to return "only" the data of the documents themselves.

Using `true` would allow it to only give you the document data.  currently, with each result, it gives the document co

[2017-12-10 22:10] timothymarois commented on #6
@MarcelHekkert Send me some sample data so I can run the tests, would love to see what you're working with. So far it should handle what you've given it. Most of what you've pointed out Filebase should be able to handle. And I'm open to new modifications to make things easier, though the API methods should be very intuitive compared to most flat file systems. If there is a missing feature, just le

[2017-12-11 13:55] #7 closed

[2017-12-11 13:55] #6 closed

[2017-12-11 14:44] timothymarois opened #8 "New Feature: Select fields to be returned"
To prevent overhead, it would be great to use a method like `select()` to select specific fields to be returned with results. Like `select(['id', 'name'])` etc

Arguments to allow:
- Allow array `['id','name','email']`
- Allow string (comma delimited) `"id,name,email"`

Example method API
`query()->select()`

[2017-12-11 14:50] timothymarois opened #9 "New Feature: Ability to disable updatedAt and createdAt"
Give users ability to disable the `updatedAt` and `createdAt` timestamp functionality and have users data only documents without compromising users data with additional configuration variables.

Possible Config Variable:
`timestamp` = `false` (default is `true`)

[2017-12-12 00:41] #8 closed

[2017-12-12 03:52] timothymarois commented on #7
@MarcelHekkert Assuming you have nothing more to say about this issue, without further evidence I hereby declare this issue void.

[2017-12-12 13:11] timothymarois commented on #7
@MarcelHekkert Was just thinking that you don't need to use `findAll` if you don't want the config variables leaked. To save memory you can run the query itself such as `$db->query()->results()` which will give you all the items in the database and returns only their data (not the configuration variables), that is most likely what you are looking for. I have made a couple updates as of yesterday,

[2017-12-14 16:59] timothymarois opened #10 "Request: Validate File Name (automatically change)"
Ability to have Filebase validate and "change" the file name that is presented with. In case of exception error of file name not valid. Have the ability to have file base automatically clean the name if "requested".

Let's make this a configuration variable to define all uses of the initiated database. This will allow it to have a consistent action if enabled.

`safe_filename` = true (by default)

[2017-12-15 01:24] #10 closed

[2017-12-15 15:07] timothymarois opened #11 "Request: Read-Only Database Option"
For instances you only want the application to read the data and not have the ability to create the database directories if non-exist, or be able to modify the database items/files in any way, there should be an option that states in the database config to prevent the application form any way of modification of database entries.

This would also bypass the issue of not being able to "write" to fil

[2018-02-09 15:20] #11 closed

[2018-02-28 18:47] timothymarois opened #12 "New Feature: Scheme for data"
Ability to set a scheme for the database. Similar to the validate system, but only allow a specific scheme format to enter your data. This would allow you to maintain consistency with your database. And become closer to a traditional scheme database setup.

There should be two options `loose` and `strict` schemes.
- `loose` which allows you to add additional data to the database that is not part o

[2018-04-15 05:37] masihfathi opened #13 "Is it right choice?"
Hi,
We have a email marketing application, table of delivery email for tracking email got more than 1 billion and sql got lag. right know is it right choice to use filebase?  will we have limitation in  speed of reading and writing?

[2018-04-16 16:46] timothymarois commented on #13
Hey.

Sorry for the delay. For the size youre thinking about I wouldnt suggest using flat file. It depends though if you’re using it for high colume traffic or archival storage. We use it on website content (almost like caching system) and we use it to cache our advertising systems. Flat files are good because its cheaper ans uses minimal resources. I’d suggest lokking into Amazon Web Services as

[2018-04-16 16:46] #13 closed

[2018-05-26 14:55] Jtreix opened #14 "Detailed Installation"
.

[2018-05-26 14:59] #14 closed

[2018-05-26 15:06] Jtreix opened #15 "Parse error: syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM) in C:\xampp\htdocs\vendor\tmarois\filebase\src\Database.php on line 88"
Parse error: syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM) in C:\xampp\htdocs\vendor\tmarois\filebase\src\Database.php on line 88
how can i fixed this ?

[2018-05-28 17:57] timothymarois commented on #15
Do you have the format class set in your database config.

[code]

[2018-05-28 18:01] timothymarois opened #16 "Add exception when format class is missing or not callable."
Check to see that the format class is missing or invalid and throw an exception. This will help improve debugging.

[2018-05-28 18:15] timothymarois commented on #16
This has actually already been taken care of.

[2018-05-28 18:15] #16 closed

[2018-05-28 22:26] timothymarois commented on #15
I have pushed a new update which should fix the error you received, version 1.0.16. This was originally designed primarily using php 7, I have tested and confirmed things are working on my end with php 5.6.32, let me know if you find any more issues.

[2018-05-28 22:26] #15 closed

[2018-06-09 10:46] fr0z3nfyr opened #17 "Wasn't the plugin designed to also support PHP 5.6?"
I'm not sure if you wrote the plugin to work with 5.6 or not. I installed it using composer but it never complained, so it's obvious that you didn't add this dependency of `php 7.0`.

I did notice in #15 that you developed this plugin originally on `php7` but I'd expect it to work on `>= PHP5.6` as well (I have 5.6.25). I see that you have used several features of PHP that re not supported below `

[2018-06-09 19:51] timothymarois commented on #17
@fr0z3nfyr Good point. I mostly built it using PHP 7. But the idea was to support older PHP versions. I will address this in the next update, and add this to the phpunit tests.

[2018-06-14 15:36] tseven opened #18 "Include Document Creation example in ReadMe"
For a new user it is not obvious how to create a document.

The documentation should include these steps:
[code]

[2018-06-14 15:46] timothymarois commented on #18
@tseven Thanks! Always looking for ways to make it easier to understand. That is an interesting way you did that, usually, you can do the `Database` and use `get` method would automatically instantiate `Document`, but I guess you could also call it directly.

[2018-06-14 15:53] tseven commented on #18
Ah. I did notice the `get` method being used that way in the ReadMe, but it didn't seem intuitive to try and get a document before it was created; especially in instances when you know the document doesn't exist yet. Also it seems more efficient to directly create the document instead of asking the DB to search for it first.

Thanks

[2018-06-14 16:42] timothymarois commented on #18
@tseven You make a good point. Originally was about `get` and if it doesn't exist, you can save it, it would either update or create a new doc. But that I guess isn't as intuitive. I'll address this in a future update. I do plan to have version 2 with a better `Collection` system for arrays as well. The current version was the first iteration I used for many projects, but I think it has grown into

[2018-06-18 06:02] fr0z3nfyr commented on #17
Thanks for the response. Glad to hear that.

Any timeline plans? I might want to look into this if you feel this may take a long time (I understand it gets very difficult to find some spare time sometimes).

[2018-06-18 12:32] timothymarois commented on #17
@fr0z3nfyr If you think you could run some tests on php 5.6 and switch around a few of the syntax components that it doesn't like, I'd say go for it, and send in your pull request. I wouldn't be able to get to it anytime soon since I have a few other projects on the to-do list. There isn't too much code to look through, so I'd imagine it would be pretty simple to fix.

[2018-06-21 05:50] fr0z3nfyr commented on #17
I'll see if I can start on it over this weekend. Will send a PR if I happen to fix it for 5.6 (at least).

Cheers!

[2018-06-25 19:52] fr0z3nfyr commented on #17
Hi. Sorry couldn't share enough time this past weekend. Will try to finish this week.

[2018-06-25 20:02] timothymarois commented on #17
@fr0z3nfyr No worries. Do appreciate it though. Let me know if you have any other revisions/enhancements you think we should make when you get in the code.

[2018-07-06 13:47] ONeill1 opened #19 "Multiple AND conditions not working as expected"
Data structure:
I've got 10 dummy database entries, one with attr1=123456 and rest with attr1=999999. All entries have attr2='default'.

Code:
$store = new \Filebase\Database([
	'dir' 	=> './store',
]);
$query = $store->query();
$query->where('attr1','==','123456');
$query->where('attr2','==','default');
$results = $query->results(false);
echo count($results);

I expecting only one result but i ge

[2018-07-06 16:36] timothymarois commented on #19
@ONeill1 Thanks for bringing this up. I will take a look at this today and release a patch if I find a fix.

[2018-07-06 16:37] #18 closed

[2018-07-06 17:40] #19 closed

[2018-07-06 17:43] timothymarois commented on #19
@ONeill1 I have added the fix you mentioned. That has seemed to resolve the multiple `AND` queries. Let me know if you see any other issues. I haven't done too much testing in the complex querying and could use some help building that section up if it becomes a popular use case.

[2018-07-09 19:24] timothymarois opened #20 "V2: Creating and Defining indexes"
The ability to create and define **specific indexes** - Being Created on Filebase (Version 2)

Example:

[code]

For this to work, all documents in the database directory would need to have the property of `category` in this example.

[2018-07-14 14:41] timothymarois commented on #17
Updated to v1.0.18 which has php 5.6 fixes. I hope that resolves any issues you have.

[2018-07-14 14:41] #17 closed

[2018-08-13 15:18] jrondorf opened #21 "Check if database record is stored after get()"
Hi,

I am searching for a method to check if the database record is a new one, or if it was already stored in the file system.

[code]

This is giving me a document with the `id` kingslayer, regardless if it was already existing in the file system or not. I need some kind of method to check if the document is a newly created one, or if it is read from the filesystem (so already existed before).

M

[2018-08-13 15:56] timothymarois commented on #21
Hey.

Yeah, I know. I was thinking that before as well. Let me see if I can get an update for you on that. New version (v2) of the Filebase is almost ready. **Understanding if a record exist is important.**

What if we do something like, would return `true` or `false`

[code]

the `get` method allows you to create records easily, that's why it was designed to always be a blank record if it doesnt

[2018-08-13 16:56] timothymarois commented on #21
@jrondorf I've added a new release v1.0.19 with `$db->has()` method. Let me know if that solves it! Thanks for the feedback, keep them coming :)

[2018-08-13 16:56] #21 closed

[2018-08-13 16:59] jrondorf commented on #21
Thanks a lot, will check.

https://github.com/filebase/Filebase/blob/1.0/src/Database.php#L13

;)

[2018-08-13 17:00] timothymarois commented on #21
@jrondorf Good find! I honestly don't know if that should be hardcoded in there anyways. Not sure if anyone actually uses it.

[2018-08-13 17:13] jrondorf commented on #21
Yes - IMHO it doesn't need to be hard coded. Something for v2 ;)

[2018-08-14 21:24] jrondorf opened #22 "Validation on save(array) fails"
Just FYI:

Following validation on the save method when passing an array on a **new** Document fails.

Setting first the values with `set (array)` and saving afterwards works fine.

Makes sense when looking at:

https://github.com/filebase/Filebase/blob/1.0/src/Document.php#L64

If v2 of Filebase doesn't contain the `save(array)` method any more, all fine.

[code]

[2018-08-14 21:31] timothymarois commented on #22
@jrondorf Yeah the validation was an addon I built a while ago, I honestly haven't revisited that since I was thinking more of recreating a "scheme" system. If you have any pull request to improve functionality I'm totally open. As for v2. It is a bit more simplistic/modern approach to objects, using a `Collection` system instead, it won't have the `save(array)` functionality.

[2018-08-14 21:54] jrondorf commented on #22
Yes, this was just a FYI, if v2 doesn't have that functionality, all fine.

[2018-08-14 21:54] #22 closed

[2018-08-15 19:03] instanttim opened #23 "Query returns deleted document, FindAll does not."
After deleting a document with the delete() method, the on-disk file is deleted but the query returns an empty document with the removed ID. I've confirmed that using FindAll does NOT return the document though...and manually deleting the cache also seems to fix it.

Note that In both cases i'm returning the document objects, not an array.

$findAll = $projectbase->findAll(TRUE, FALSE);
print_d($f

[2018-08-15 19:03] instanttim commented on #23
oh, print_d is my own tweak on print_r in case you're wondering. Wraps it in <pre> tags so it formats nicely.

[2018-08-15 19:09] timothymarois commented on #23
@instanttim I see. yeah, it looks like the cache is keeping it in the list. You can also disable the cache in the db config if you don't need that. But it looks like I'll need to examine the delete functionality and see if that needs to be removing it from the cache automatically.

[2018-08-15 20:50] instanttim opened #24 "Feature Request: Include ID in results() array (optionally?)"
When you use resultDocuments() you can get use getID() to get the ID. But when you use the lighter-weight and default results() there seems to be no way to also return the ID with the records in the array.

[2018-08-15 21:11] instanttim commented on #23
I turned the cache off and deleted the directory. The problem is still occurring. Coincidently, documentation says the default value for the cache is false, and the constructor has false in it, but I'm super confused because it was obviously caching even though I hadn't declared that config option.

[2018-08-15 21:13] timothymarois commented on #23
@instanttim Ok thanks. Maybe there's something else going on with the cache settings. Nonetheless, I will look into it tonight and see if there's a fix that can be made.

[2018-08-16 13:50] #23 closed

[2018-08-16 14:01] timothymarois commented on #23
- Caching was actually set `true` by default. The readme was incorrect. I fixed that.
- Caching is now cleared when saving/deleting items to keep it from being out of sync.

[2018-08-16 14:27] instanttim commented on #24
No, I get that... but why not an associative array where the keys are the IDs?

I would think it’s commonly desired to have the id available, but so much slower and resource intensive to have to iterate through the objects and gather the IDs and then flatten to an array and insert the the IDs.

Alternatively, I figured I could store the ID inside the document, but that seemed silly since the file

[2018-08-16 14:33] timothymarois commented on #24
@instanttim Actually do make a good point on the associative array keys. It would make sense to have the keys as document ids this way the can always be referenced. I'm going to add that to the list.

[2018-08-21 19:27] instanttim commented on #23
After updating I'm still seeing this for some amount of time. It seems like it goes away eventually, but turning off the the cache fixes it immediately.

[2018-08-21 19:29] instanttim commented on #23
For what it's worth, it returns an object with the same ID and it's got no data in it, but one field that is a valid field name from before it was deleted.

[2018-08-22 01:32] timothymarois commented on #23
@instanttim Interesting, I will have to take a look at the tests again. The design was any `update()` or `delete()` methods would clear the cache automatically.

[2018-08-27 22:03] instanttim commented on #24
Guess it didn't work?

[2018-08-27 22:06] timothymarois commented on #24
@instanttim It did, unfortunately, it didn't work with php 5.6, so I would need more testing into why the test failed. I currently am on a few other projects, the code is there if you want to take a look and see if anything stands out.

[2018-08-28 17:51] assemblie opened #26 "code style consistency"
it could be very useful to implement coding style guide like PSR-2:
https://www.php-fig.org/psr/psr-2/ (https://akrabat.com/checking-your-code-for-psr-2/)

+ refactor docblocks so they are consistent

here is an example: https://github.com/assemblie/Filebase/tree/style-guide

its really lot of changes for now but we can implement it step by step or create specific style guide:
https://github.com/s

[2018-08-28 19:05] timothymarois commented on #26
I like the idea. I try to stay within consistency. But I can see where the smaller things like brackets after or below the line could use some better alignments. Let's do it!

[2018-09-02 08:37] jrondorf opened #27 "YAML format support"
I would like to use YAML instead of JSON. I would be able work on that and add (optional) Symphony YAML support (and optional requirement in composer) by a pull request if you like.

Does it matter if in 1.0 or 2.0 branch? Any idea, when 2.0 will be released?

Cheers!

[2018-09-02 10:53] timothymarois commented on #27
That would be great! I’d say build it for v1 for now and it should work for v2 once that’s ready. We might need to have the option to remove the updated/created_at, which we can do for v1.1

[2018-09-03 17:54] timothymarois commented on #27
@jrondorf If you want. Join the slack channel (found on the readme). We can collaborate on some Filebase changes.

[2018-09-03 17:59] jrondorf commented on #27
Not seeing the Slack link 🧐

[2018-09-03 18:03] timothymarois commented on #27
@jrondorf Here it is: https://join.slack.com/t/basephp/shared_invite/enQtNDI0MzQyMDE0MDAwLWU3Nzg0Yjk4MjM0OWVmZDZjMjEyYWE2YjA1ODFhNjI2MzI3MjAyOTIyOTRkMmVlNWNhZWYzMTIwZDJlOWQ2ZTA

[2018-09-09 02:08] shamuel22 opened #29 "Performance"
Hi, There is a benchmark to process a large amount of data? for example 1M of records

[2018-09-09 15:36] timothymarois commented on #29
Hello @shamuel22

We currently don't have a benchmark, but I would love to see one. This also depends on your I/O and read/write ability within the server drive, HDD, SSD etc.

As for the 1 million records, you would need some better cache handling so you don't lock up the file system by trying to open up that many files at once within queries. I would also say if you want records that large, and

[2018-09-09 15:36] #29 closed

[2018-09-09 17:03] shamuel22 commented on #29
@timothymarois  I await more updates of this package. Meanwhile I will play a little with the code :)

[2018-10-09 14:31] d8ahazard opened #32 "[FEATURE REQUEST] Secure .json files against snooping..."
While I know this responsibility should *really* fall on the owner of the webserver - I've distributed a few different PHP web applications that are intended to be used by your average "anyman" as much as can be expected for a PHP web app.

As such, I've adopted the habit of "protecting" data files using a simple trick...

I append .php to the filename, and then insert the following string at the

[2018-10-09 14:44] timothymarois commented on #32
Hi @d8ahazard,

That's a good security concern. I know Apache can block the directory listings from the public, but we know most people have no access or no idea to do that.

The other thing I would add is, the **database path should never be in public view** for this exact reason. It's best practice to store this in some `/storage` directory above the HTTP `public` directory.

If you used file na

[2018-10-09 14:53] d8ahazard commented on #32
Hey @timothymarois, thanks for the quick reply.

Haha...I feel so dumb right now. I did not even know that was an option!!

Yeah, I enjoy the KISS approach, I'll just add the blank index.html files as needed. (In fact, I've got blank _placeholder files for git already, I can just rename those.

Thanks for the tip!!

[2018-10-09 14:53] #32 closed

[2018-11-11 18:47] klopez0017 opened #33 "Query on nested Arrays"
Hi, I have this saved database with me in this format. As you can see accounts have multiple array elements containing accID, server, expiry, editable, payment, etc..
Whenever I try to use query it gives me no results. Is nested multi array supported at the moment?

[code]

[code]

[2018-11-11 19:15] timothymarois commented on #33
Hi @klopez0017

They should be designed that way as the docs state the examples of:

[code]

What is the response you are receiving? I will take a look at this when I get in.

[2018-11-12 10:05] klopez0017 commented on #33
Hi @timothymarois,

Im getting an empty array.

My suspension is that it doesnt properly read the iteration of the nested array. Example to be able to read the first item i should use

`accounts[0]['accID']` and will return '123'

But if i use only the query,

`accounts.accID` is considered as `accounts['accID']`

Maybe if we can use something like a wild card in between?

Example:

[code]

[2018-11-12 17:33] timothymarois commented on #33
@klopez0017 I do see what you mean now. Its because it's in an array which doesn't know which to choose from since there is multiple. But still, that is a good point and should be addressed. I do like the functionality of setting `accounts.accID = 123` It should intelligently find the correct array.

One thing to note about querying, at least in current form. It was designed to return the entire d

[2018-11-13 07:48] klopez0017 commented on #33
@timothymarois  I will have a look on custom filters thank you. I'll try as well to help fix it and make a pull request to check if the Queried item is multi-nested array inside.

[2018-11-25 19:06] aalfiann opened #34 "Feature Request: Replication data"
Why we need replication data?
- This will make our php server stronger to handle million data.
- Easy to scale horizontally.

How we can achieve this?
- The simple idea is to transfer file from one server to multiple server.

Is this possible?

[2018-11-27 13:09] aalfiann opened #35 "How to make pagination work?"
I want to scan all data but with pagination so it can save memory to not load all data into array.

After take a look at readme, is the limit function also support offset?

Thanks.

[2018-12-05 14:59] landall opened #36 "Feature Request: Locking the Has-and-Save Transaction"
I have a scene to let a user register an unique name or something else.

I think it may be done by an atom operation using the locks when opening files.
* If having the key, return false.
* If not, create a new key with the giving key name and return true.

After that, we can update the value of the key without locking.

[2018-12-05 15:13] landall opened #37 "Feature Request: $item->fromArray"
Though there is a method of $item named toArray, I think load data from an array is also needed.
$item = $db->get($key);
$item->fromArray($some_array);
$item->save();

[2018-12-06 09:31] landall commented on #37
Maybe can be implemented by save($array) and load again.

[2018-12-06 10:56] landall opened #38 "Bad Pattern: Document->field('data')"
it is not a good design to use special field name 'data' but other field name without a prefix 'data.'

It should be
   SomeDocument->field('data')
   SomeDocument->field('data.user.id')
or
   SomeDocument->field('')
   SomeDocument->field('user.id')

[2018-12-06 11:03] landall opened #39 "Improvement: DocumentSet Entity needed for query"
Query should separate the logic between findall and query itself.

A solution is to import the concept of DocumentSet.
It seems like:
$documents = $db->findAll();  or  $documents = $db->find(['books','apples','writers','cars']);
$documents->query(.....);

then
public function Database::query(...) ==> $this->findAll()->query(...);

[2018-12-11 05:06] timothymarois commented on #38
This is true. It was really due to morphing the data through either arrays or objects, and I needed to include a placeholder. Not to mention I wrapped it up in data so that anything above that could be like global variables such as `created_at`, `updated_at`.  I am open to pull requests for needed changes. I would love to revamp this, such as Filebase v2.

[2018-12-11 05:09] timothymarois commented on #37
That is correct, you can replace all content in the document using the `save()` method.
[code]

[2018-12-11 05:09] #37 closed

[2018-12-11 15:19] landall commented on #38
I find it affacts to __set & __get of a document.

SomeDocument->fieldA should be changed to SomeDocument->data->fieldA.

I guess this is why you need a special field named data.

[2018-12-27 00:37] timothymarois commented on #38
@landall Yeah exactly. I think v1.0 will have to stick with that format, but I am open to revisions for a future version that simplifies this. v2.0 I want to use a collection system instead.

[2018-12-27 00:37] #38 closed

[2019-01-05 11:53] AdriaandeJongh opened #40 "Query documents based on array of strings?"
Hey there!

I can't figure out how to do the following. Say I have this:

[code]

Is there a way I can query, order, and return the database, with the full documents? The following obviously won't work:

[code]

But how would I go about something like this?

Note that I am specifically looking for a way to return the full documents, because I need the id's.

[2019-01-05 20:51] timothymarois commented on #40
@AdriaandeJongh So you're looking to return based on document id which is the name of the document itself? One thing I would suggest is, add an `id` field inside your documents, this way the query method will search for that id field. And then it would return all the documents relating to that id (or 1) document if you're doing unique Ids.

[2019-01-06 02:52] AdriaandeJongh commented on #40
Even that wouldn't work because `where` doesn't take an array.

[2019-01-06 02:57] timothymarois commented on #40
@AdriaandeJongh I see. I'm swamped lately with work otherwise I'd look into adding that feature. If you think it's an easy add, run some unit tests and send a pull request, I'm sure just need to configure the query check using multiple on arrays. Its a feature we should have since it would work similar to a SQL `IN` clause.

[2019-01-06 03:34] AdriaandeJongh commented on #40
I spent an hour looking into this yesterday but having essentially no experience with PHP, coming from C#, I have absolutely no idea how the whole querying system works, so I'm going to leave this to you - sorry!

The workaround I just came up with that 'sort of' works for me right now :

[code]

[2019-01-09 04:26] AdriaandeJongh opened #41 "results() returns document instead of array"
The following query returns a single Document instead of an array if there is only 1 document that matches the query:

[code]

The docs state results() should always just return an array, so this was a hard catch ;)

[2019-01-09 05:05] timothymarois commented on #41
@AdriaandeJongh Thanks! I will add that to the tests and see what's going on there. If I find it, I'll add a patch in the next fix. Maybe, for now, run a check to see if its a document or an array.

[2019-01-09 08:24] AdriaandeJongh opened #42 "Feature request: sort by update or create time"
There doesn't seem to be a way to sort results by update or create time. This is useful for queries where I'd like to get the most recent changed files.

[2019-01-09 17:23] aalfiann commented on #42
There is little bit tricky for this :

[code]

Note:
- I know this is not efficient.
- Set limit, make sure don't loop all data.

[2019-01-13 17:25] thecosss opened #43 "How can i install it without Composer?"

[2019-01-14 00:02] timothymarois commented on #43
You can download the files, and then require them all directly in your php app.
Composer is definitely recommended but not required.

[2019-01-14 00:02] #43 closed

[2019-01-22 08:53] aalfiann opened #44 "Function Limit with offset return wrong results"
Let's say, I have 5 user data, in this case i just want to show only two data in each result.

my code is :
[code]

Please correct me if I made mistake in code, because there is no example to use query limit with offset in README.

[2019-01-22 11:04] aalfiann commented on #44
Solved, after take a look the source code behind limit function, I understand how it's work.
The limit function is working as expected, so i close this issue.

[2019-01-22 11:05] #44 closed

[2019-01-22 12:16] aalfiann commented on #41
I've had same problem.

The first result is array (no problem), but the next result is not array but Document object.

[2019-01-23 02:52] aalfiann commented on #39
Nice, Sounds like nosql way..

[2019-02-04 07:57] aalfiann commented on #34
Absolutely that was in my mind.

Thanks..

[2019-02-23 14:48] timothymarois commented on #42
This has been added in the latest update. I've added it to the readme within [querying](https://github.com/filebase/Filebase#8-queries)

[2019-02-23 14:48] #42 closed

[2019-02-23 14:51] timothymarois commented on #41
@aalfiann Can you confirm this is an issue when cache is set to true?

Does it work on the first query, and then the second query (cached) does not? Which would mean its related to reading the cache.

[2019-02-23 16:03] aalfiann commented on #41
No, the cache is fine, It seems there is a problem in run() function.

 I'm not sure, but for temporary right now, I just disabled cache when use select(array) and everything is ok.

[2019-02-23 16:04] timothymarois commented on #41
@aalfiann Ok, thanks for confirming. I will look into this and see if there is a patch to be made.

[2019-02-24 23:01] timothymarois commented on #40
@AdriaandeJongh A recent update has provided you with a feature to accomplish this. Let me know if this resolves your issue. I will close it for now.

[code]

[2019-02-24 23:01] #40 closed

[2019-02-24 23:08] timothymarois commented on #41
@AdriaandeJongh This has been resolved from a recent by fix by @faryar76 – Thanks again!

[2019-02-24 23:08] #41 closed

[2019-02-25 01:55] AdriaandeJongh opened #52 "Duplicated results using orderBy and limit with cache enabled"
Hey there!

With cache enabled, the following query will return the right results the first time it's called, but will show duplicate results from then on.

`$db->query()->orderBy('__created_at', 'DESC')->limit(6)->resultDocuments();`

It appears that the parameter in 'orderBy' can be anything for this bug to appear.

(Sorry for editing this issue 100 times as I kept finding problems / solutions a

[2019-02-25 03:19] timothymarois commented on #52
@AdriaandeJongh  Hi, can you share example data of what you're seeing in the results or even a `print_r` of the output. I've tested this using `resultDocuments()` and `results()` but was unable to reproduce the issue of duplicated results. Are you saying you're seeing double results in the cached results?

[2019-02-25 03:37] AdriaandeJongh commented on #52
(Sorry again for editing this issue a number of times as I'm discovering what is actually the issue.)

It appears the issue is with `limit(6)`. The following files are versions the cache file resulting from the query in the original post (renamed from .json to .txt so github would take them). So file 1.txt appeared after running the query once, file 2.txt after running it twice, and so on.

[1.txt

[2019-03-15 20:53] jrondorf opened #53 "Case Insensitive Equals Operator"
Regarding https://github.com/filebase/Filebase#8-queries and the '=' operator:

Is there a way to have a case-insensitive equals operation?

(LIKE is already case-insensitive)?

Should we / I add something like EQUALS_IGNORE_CASE?

Cheers!

[2019-03-16 02:58] faryar76 commented on #53
i think you can use
== or ===
instead of '=' for case-insensitive

[2019-03-16 08:29] jrondorf commented on #53
@faryar76  No, also with '==' or '===' **no** case insensitive comparison will be done.

[2019-03-16 09:16] faryar76 commented on #53
you can use regex
where('name','regex','/john/i')

[2019-03-16 13:15] jrondorf commented on #53
@faryar76 Thanks, the regex option works for me.

[2019-03-16 13:15] #53 closed

[2019-03-21 19:35] bcs02123052 opened #54 "how to start using this library no tutorial ?"
how to use this library there is no  getting started or any examples folder . please add some example to show how to create database and the document and not override them ?

[2019-03-21 21:01] timothymarois commented on #54
Hello,

You should be able to find the majority of the usage on the **[readme](https://github.com/filebase/Filebase/blob/1.0/README.md).**

Here are the [examples and usage
](**url**).
You don't necessarily create the database, but you define it using (directory is automatically created if not exist).

[code]

and then you can create specific documents and store your data like this: (documents are

[2019-03-23 16:36] #54 closed

[2019-04-15 19:44] koenhoeymans opened #55 "Yaml format requires symfony/yaml in composer.json"
It seems that composer.json needs `symfony/yaml` as dependency for users who wish to use the yaml format.

[2019-04-15 19:47] jrondorf commented on #55
It's already mentioned as optional dependency in package.json

[2019-04-16 07:20] koenhoeymans commented on #55
Maybe it would be useful to mention it in the README in the section? I don't remember seeing the 'suggested' part after installing through composer and then the code examples failed with yaml so I had to figure out what was wrong myself. Not that it was much work but were it mentioned in the usage section I wouldn't have had a problem.

[2019-04-26 19:32] sambedingfield opened #57 "NOT IN comparison"
What do you think about adding a `NOT IN` (opposite to `IN`) comparison?

Amazing repo by the way ❤

[2019-04-27 09:39] praneetroopra opened #58 "How to save more than one data inside a document?"
I am using your package in laravel , i have a form which allows user to add categories. But when i do that every time user submits a new category it replaces the old category , is there any way to not let it over write?

Here is my code

[code]
Please any help will be appreciated.

[2019-04-27 22:16] timothymarois commented on #57
@sambedingfield Thanks, I'm glad you like it!

Also, I am surprised we don't have the `NOT IN`, I will put it on the list for a future update.

[2019-04-27 22:21] timothymarois commented on #58
Hi @praneetroopra

If I understand what you're trying to do, you should add these categories into an array within your document.

Like, isnt of creating a `name` property, create a `list` = `Array`. So you can do `list = ['category', category 2']` etc.

There are other ways to accomplish this, if you have more data within a category, you could create a new document naming it by category and then a

[2019-04-27 22:21] #58 closed

[2019-05-14 23:23] edpittol opened #59 "Use clearstatcache to avoid wrong filesize"
I was doing some tests and when I tried manipulate a document more than one time, I got an encoding error. Investigating the error, I saw that the function `Filesystem::read()` use `fread()` function to read the document content. And is passed the size of the length of the buffer with the function `filesize`. What happens is that PHP uses a cache to save the file status and this behavior can affec

[2019-05-16 01:45] chrissander commented on #24
I had the same problem, there is an easy workaround. Just store the id in the as a field in the itemdata right after you create the item, then it will be available in the results() array.

[code]

[2019-05-31 14:45] uukit123 opened #61 "How to delete a data property in document"
As title,how to delete a data property in document, such as 'tags' in kingslayer document.
can we remove this property?

[2019-05-31 14:49] uukit123 commented on #61
I get it!
unset($item->tags);

[2019-05-31 14:50] #61 closed

[2019-07-03 07:38] mikestreety opened #62 "No issue, just thanks"
Just wanted to say thank for the awesome library. It's made my prototyping of this side project so much easier, quicker and better.

Will definitely be using it again in future. Thank you so much!

[2019-07-03 07:53] mikestreety commented on #52
I can confirm I also experience this issue. When I have the cached enabled, every time I press refresh when using the limit I get duplication.

[2019-07-03 12:31] timothymarois commented on #62
@mikestreety Thanks, Mike! Really appreciate it!

I originally built it with my no database CMS projects and wanted an easy way to store and retrieve data in the same format, and the project over the years just grew to all the features it has today.

Glad you enjoyed it.

[2019-07-03 15:57] jrondorf commented on #62
Interesting. Is any of your no database CMS projects also open source? Cheers!

[2019-08-22 13:55] gmartino27 commented on #52
Have sombody a solution or workaround for this?
I have the same problem, removing the `limit` from the query seems to help but i need a limit..
Else i have to deactivate the cache..

[2019-10-14 08:09] #62 closed

[2019-11-12 09:43] itsnotyoutoday opened #63 "Adding New Records"
I like the idea and I was going to use in a prototype project.  However, no matter what i do I can't seem to add a new record.  It just overwrites the database everytime..

For example:
[code]
I would expect that to add two records.. But no, the only one that persists is just BLAH....  Am I missing something?

[2019-11-12 13:12] sumpygump commented on #63
I believe what is happening is it your record doesn't end up having an actual id.

Try using this approach instead.
[code]

Calling `$database->get()` will fetch the record with that given id or else it will create a new document with that id.

[2019-12-29 10:38] achleitner opened #64 "How do I include this script?"
Hello, sorry for my ignorance, but how would I include this manually in my php file?
Thanks

[2019-12-29 13:24] sumpygump commented on #64
Hello achleitner,

To include this in your php script, you should use [composer](https://getcomposer.org/doc/00-intro.md). You can read about composer at the website getcomposer.org.

Once you issue the command using composer in the directory of your PHP project, like `composer require tmarois/filebase`, then composer will create a `vendor` directory. After that, you can use it in your PHP script

[2019-12-29 15:10] achleitner commented on #64
Hey, many thanks. I just installed composer following this on Ubuntu : https://linuxize.com/post/how-to-install-and-use-composer-on-ubuntu-18-04/

Seems like things are working now!
You learn something new every day!

[2019-12-29 15:55] achleitner commented on #64
Would this be a way for a simple query?

require_once 'vendor/autoload.php';

// setting the access and configration to your database
$database = new \Filebase\Database([
    'dir' => 'database',
	'cache'          => false
]);

// in this example, you would search an exact user name
// it would technically be stored as user_name.json in the directories
// if user_name.json doesn't exists get will

[2019-12-29 18:53] timothymarois commented on #64
Hey @achleitner

[code]

change `$results->save();` to `$user->save();`

You save on an individual collection level since `$results` is an array of objects.

[2019-12-29 19:36] achleitner commented on #64
Thaks a ton. Really excited trying to implement this on my website for some basic inventory control.

[2019-12-29 19:51] achleitner commented on #64
Hello, do I understand this correctly that for each new let's call it record a new file should be created? So let's say I have 10 products I will have 10 json files 1 for each?

Or how would I go about creating a new record in the file?

[2019-12-29 22:03] timothymarois commented on #64
Hey @achleitner

Yes, we'd have 10 files for each item, it does depend on how you want to store your data. but you can follow by the examples located in the readme,

[Get Items](https://github.com/tmarois/Filebase#3-get-and-methods)

[Create and Update](https://github.com/tmarois/Filebase#4-create--update--delete)

Let me know if that helps.

[2020-01-15 20:04] camillo777 opened #65 "Is this project still maintained and supported?"
Hello,
I am going to start a new project (simple private blog/headless cms) and was looking for a file based, no dependency PHP document store.
It seems quite impossible to find one for PHP and that is still maintained and supported.
Filebase seems very cool indeed.
I already have a MySQL installed, but I don't want to structure data in SQL tables and I can't install another DB or other extensions

[2020-01-16 04:29] timothymarois commented on #65
Hi @camillo777

yes, the project can be used in Production mode, I use it on my of my projects. It is a JSON file storage, with filters and sorting. You can view all its functionality in the readme.

We support the development of this package and if there are any issues that arise, we will address them. If there are any severe issues, they will be patched as quickly as possible. Feel free to send

[2020-01-16 19:46] #64 closed

[2020-01-16 19:46] #63 closed

[2020-01-20 14:01] #65 closed

[2020-03-24 15:15] chriship opened #66 "Use with Eloquent"
Is it possible to use this with Eloquent so I can call things like MyClass::all()?

[2020-03-24 15:19] timothymarois commented on #66
HI @chriship

It is possible to build a wrapper class/object that can render your query results, then pop it into filebase db and vice-versa. I could see where filebase could be used as a cache instead of going directly into the db if data exists in filebase. I dont think there are any third-party packages that have publicly shared this feature yet, but it is possible, and for the call of `all()`

[2020-03-28 14:33] chriship opened #67 "Include updated_at and created_at with results()"
Is it possible to retreive the created_at and updated_at timestamps with the results call?

At the moment I have a relationship between 2 models and am retrieving them like so:

[code]

But doing it like this means that $project->prices does not have  the timestamps.

[2020-03-28 14:34] chriship commented on #66
Great, thanks.

[2020-03-28 14:34] #66 closed

[2020-03-28 17:01] timothymarois commented on #67
Hi,

On the request of `get()` you can then call `$pricesDB->createdAt()` and `$pricesDb->updatedAt()`

The queries are meant to find documents itself, [query reference](https://github.com/tmarois/Filebase#8-queries), but you can create custom filters to query within a document, I would recommend if using Laravel, push your entire document data into a collection object if you want the use of [coll

[2020-04-03 00:11] joemottershaw opened #68 "Assigning unique ID's to a record"
Don't know if I'm just missing something here, but in the readme, you mention:

[code]

How would you actually go about creating that ID in a real world example? When you call`$database->get('92832711')`, is there some sort of auto incrementing ID stored somewhere in a separate record that you reference every time or is this up to us to generate ourselves?

I've written some wrappers and helper fu

[2020-04-03 16:31] joemottershaw commented on #67
I feel `created_at` and `updated_at` should be included by default? A lot of the queries are going to be done using the `results()` or `first()` methods and at that point you've lost 2 important fields that you will probably want to access to?

[code]

That would return an array but only with the fields I specified when storing it, if I want to get the timestamps as well as those fields I have to

[2020-04-12 18:49] timothymarois commented on #68
@joemottershaw  Currently you have to come up with your own ID, Filebase just stores the data. That is a good feature for the future though for auto-incrementing if we had that setting in place.

[2020-04-13 17:37] tsmgeek commented on #68
https://github.com/tmarois/Filebase/pull/60

There is a WIP on this idea.

[2020-04-13 17:38] tsmgeek commented on #3
https://github.com/tmarois/Filebase/pull/60

[2020-04-13 18:20] timothymarois commented on #68
@tsmgeek Good find there, I believe it originally had conflicts, but I'll look that over and see if it can be merged in.

[2020-05-15 09:29] devouk opened #69 "Question : Security Implementation and Good Practises"
Hi, I am a bit of a noobie looking to learn/create a small app where flat-file/filebase sounds like a great solution for a simple user store (no payment details) but login and a simple order system.

Could you just write a reply/readme info about best security practises and potential risk/pitfalls and good practises which you should be applying within your code and at server-level permissions to s

[2020-06-21 17:37] timothymarois commented on #69
Hey @devouk

Look at it like any file or db on your server. You want to be sure the files in the flat file db are not accessible via public, with a setup like Laravel, you could keep your flat file db in the storage folder where only you and the server can access those files, I would not place them in the public directory.

One thing to keep note as to all flat file dbs, if multiple edits of a sin

[2020-07-26 17:29] #69 closed

[2020-11-18 19:28] advename opened #70 "Project Status and Multiple user handling"
Hi,

I've seen that the last code push happened 2 years ago. Is it because it's still stable as it is or is the project not maintained anymore?

Also, how is Filebase handling multiple users, aka, two connected users try to edit data at the same time?

Thanks for the work tho!

[2020-11-20 21:02] timothymarois commented on #70
Hey @advename

Sorry about the delay in response. The project is stable as of many users currently relying on it in their applications. I had ideas of upgrading to version 2 with a lot of new features. However, I'm busy with many other projects at the moment I dont have the time to do so yet. If there is an immediate bug I and the community can work to resolve it.

Always welcome pull requests and

[2021-03-24 09:54] mitmelon opened #71 "You didnt tell us how to create a table"
How to create a table

[2021-03-24 17:49] sumpygump commented on #71
There are no tables with this type of data storage. Each database is just a collection of records each having a fluid schema. Each record can be accessed by its key. Take a look at the usage example in the README to get an idea of how to create a new record (or fetch an existing one).

Does that help?

[2021-03-25 03:09] mitmelon commented on #71
Ok thanks it helps...

[2021-03-26 13:27] BasToTheMax opened #72 "Feature request: REST API"
When you create a JavaScript site, you want to connect to the database. It should be easy to add a build in rest api, instead of creating at yourself.

[2021-03-29 15:10] timothymarois commented on #72
Hey, @BasToTheMax Filebase is only the database driver/storage for your data. If you want a REST API to work with the data/extract etc, you should look into building a PHP API using a framework like Laravel, which makes things incredibly easy. Not too sure on the javascript side unless you use NodeJS and that is probably equivalent, however, since this is a PHP package, I'd recommend staying withi

[2021-03-29 15:10] #72 closed

[2021-03-29 15:14] timothymarois commented on #71
If you have any more questions feel free to ask, hope the readme covers most of your needs, if not just let me know and we can always append more documentation. Going to close this for now. Thanks, @sumpygump for the prompt reply.

[2021-03-29 15:14] #71 closed